<ion-header>
  <ion-toolbar>
    <ion-title class="cerveja">Heineken</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h1 class="cerveja"> Heineken </h1>
    <p class="info">Premium quality</p>
      <ion-img class="im" src="assets/heineken.jpg"></ion-img>
        <ion-icon name="eye" [routerLink]="['/cerveja-detalhes']"></ion-icon>
        <ion-button color="success" [routerLink]="['/heineken']">Heineken</ion-button>
        <ion-button class="botao" color="danger" [routerLink]="['/home']">Home</ion-button>
</ion-content>

