<ion-header> 
  <ion-toolbar>
    <ion-title>Adicione uma nova cerveja</ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="secondary" [routerLink]="['/home']" >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Pesquise sua cerveja"></ion-searchbar>
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <ion-item>
      <ion-label color="primary" position="floating">
        Nome da cerveja:
      </ion-label>
        <ion-input name="nome" ngModel placeholder="Digite aqui">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">
        Descricao:
      </ion-label>  
      <ion-input name="desc" ngModel placeholder="Digite aqui">
        </ion-input>
    </ion-item>
   
      <ion-button type="submit" color="success" expand="block"> Salvar 
        <ion-icon name="bookmark"></ion-icon>
      </ion-button>
  </form>
  <br>{{mensagem}}
</ion-content>


