<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Eisenbahn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-img src="assets/eisenbahn-card-header.jpg"></ion-img>
        </ion-card-header>
      </ion-card>
    <ion-card-title>Eisenbahn</ion-card-title>
      <ion-card-subtitle>Puro malte - Autentica</ion-card-subtitle>
        <p>Eisenbahn, Você a bordo</p>
          <ion-button color="danger" [routerLink]="['/puro-malte']">Proibida</ion-button>
          <ion-button color="danger" [routerLink]="['/pilsen']">Eisenbahn</ion-button>
          <ion-button color="danger" [routerLink]="['/kolsh']">Kölsh </ion-button>
          <ion-button color="danger" [routerLink]="['/home']">Home </ion-button>
  </ion-content>