<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Duff Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 class="titulo">Bem vindo</h1>
  <p>Bem vindo ao app de cerveja mais famoso do brasil</p>
    <ion-img class="im" src="assets/duff-logo.png"></ion-img>
      <ion-button color="danger" [routerLink]="['/heineken']">Heineken</ion-button>
      <ion-button color="danger" [routerLink]="['/puro-malte']">Proibida</ion-button>
      <ion-button color="danger" [routerLink]="['/pilsen']">Eisenbahn</ion-button>
      <ion-button color="danger" [routerLink]="['/kolsh']">Kölsh </ion-button>
</ion-content>
